$primary: #5B3FBE;
$success: #008043;
$info : #1A7EFF;
$warning: #BF6A02;
$danger: #EC221F;
$dark: #111111;
$muted: #666666;
$transparent: transparent;

$light-primary : #F3F0FF;
$light-success : #EBFFEE;
$light-info : #EDF5FF;
$light-warning : #FFFBEB;
$light-danger : #FEE9E7;
